<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jst.server.tomcat.core.launchConfigurationType">
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/jdk-15.0.2"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="start"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dcatalina.base=&quot;C:\Users\adriano.medeiros\ProjetoWeb\eclipse-workspaceWebCurso\.metadata\.plugins\org.eclipse.wst.server.core\tmp0&quot; -Dcatalina.home=&quot;C:\Users\adriano.medeiros\ProjetoWeb\apache-tomcat-9.0.52&quot; -Dwtp.deploy=&quot;C:\Users\adriano.medeiros\ProjetoWeb\eclipse-workspaceWebCurso\.metadata\.plugins\org.eclipse.wst.server.core\tmp0\wtpwebapps&quot;"/>
    <stringAttribute key="server-id" value="Apache Tomcat v9.0  at localhost"/>
</launchConfiguration>
